.container
{
    background-color: rgba(199, 232, 236, 0.363);
    border-radius: 20px;
    border-style:outset;
    border-color: green;
    padding: 10px 10px;
    /*
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;*/
    margin: 20px;
}
.head
{
    text-align: center;
    color: rgb(93, 93, 182);
}
.left
{
    color: rgb(17, 17, 187);
    font-size: 20px;
    position: relative;
    left: 30px;
}
.right
{
    color: rgb(240, 80, 21);
    text-align: right;
    text-decoration: overline;
}
.center1
{
    text-align: center;
    text-decoration:underline;
}
a:link
{
    text-decoration: none;
    color: rgb(218, 16, 16);
    font-size: 21px;
}
a:active
{
    color: rgb(3, 3, 51);
}
a:hover{
    color: rgb(33, 6, 59);
}
a:visited
{
    color: rgb(12, 11, 11);
}
.c1
{
    cursor: crosshair;
}
.c2
{
    cursor: pointer;
}
.c3
{
    cursor: move;
}
.c4
{
    cursor: text;
}
.c5
{
    cursor: wait;
}
.c6
{
    cursor: help;
}
.cursor
{
    font-size: 18px;
    font-weight: bold;
    color: rgb(56, 107, 56);
}